@import "~/src/scss/index";

.list-pacientes{
    &__paciente{
        margin-top: 20px !important;
        
        &:hover{
            opacity: 0.6;
        }

        > div {
            width: 110px;
            height: 110px;
            background-position: center;
            background-size: cover;
            border-radius: 100px;
            margin: 0 auto;
        }

        > p{
            margin-top: 20px;
            text-align: center;
        }
    }
}