@import '~/src/scss/index';

.slider{
    &__item{
        &-header{
            width: 90%;
            margin-bottom: 15px;
            > p{
                color: $font-grey;
                font-size: 12px;
                >span{
                    font-size: 15px;
                }
            }
        }

        &-detalles{
            textarea{
                padding: 10px;
            }
        }
    }
}