@import "~/src/scss/index";

.tab-menu {
    margin-right: 20px;

    .ui.tabular.menu {
        .item {
            color: $font-grey !important;
        }

        .active{
            .item{
                color: $font-dark !important;
            }
        }
    }
}

