$primary-color:#1891db;
$primary-color-hover: #cfe2f3;
$secondary-color:#DB6218;


$font-light: #fff;
$font-grey: #B5C6D5;
$font-dark: #000;

$border-primary:#73828B;

$background-primary: #0a0a37;
$background-secondary: #292950;
$background-dark:#000;
$background-light:#fff;

$danger: #DB182F; 